<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>新增工作項目</title>
  <link rel="stylesheet" href="/static/css/layui.css">
  <script src="/static/layui.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='3.ico') }}">
</head>
<style>

</style>

<body>
  <ul class="layui-nav" lay-filter="" style="display: flex; align-items: center; justify-content: space-between;">
    <li style="display: flex; align-items: center;">
      <img src="../static/LOGO.png" alt="LOGO" style="width: 7%; height: 7%;">
    </li>

    <li class="layui-nav-item" style="white-space: nowrap;">
      <a href="javascript:;" style="color: rgb(255, 255, 255);">{{ session['acc_nu'] }}</a>
      <dl class="layui-nav-child" style="text-align: left;">
        <dd><a href="/chg_passwd">修改密碼</a></dd>
        <dd><a href="/account_manage">帳戶管理</a></dd>
        <dd><a href="/logout">登出</a></dd>
      </dl>
    </li>
  </ul>
  <br>

  <br>
  <br>
  <br>
  <br>
  <!-- ---------------------------------------------------------------------------- -->
  <br>
  <div style="width: 800px;height: 400px;margin: 20px auto;">
    <h1>{{option_name.option_value}}</h1>
    <form class="layui-form" action="/item_save/" method="POST" id="work-form">
      <div class="layui-form" id="options-form">
        <div class="layui-form-item" id="options-container">
          <br>
          <!-- <h1>SID={{SID}}</h1> -->
          <br>
          <!-- <h2>Debug:　　{{option_item}}</h2> -->
          {% for option_value in option_item %}
          <!-- <h1>{{option_value.item_value}}</h1> -->
          <div class="option" style="display: flex; align-items: center;">
            <input type="checkbox" name="option" lay-filter="option-checkbox" lay-skin="primary" {{ 'checked' if
              option_value.is_checked }}>
            <input type="text" name="item-value" id="old{{option_value.id}}" class="layui-input" placeholder="輸入工作細項"
              style="width: 50%;" value="{{ option_value.item_value}}">
            <button class="layui-btn layui-btn-sm layui-btn-danger remove-option">X</button>

          </div>
          <br>
          {% endfor %}
        </div>
        <div class="layui-form-item">
          <button class="layui-btn" id="add-option" type="button">新增選項</button>
          <button type="submit" value="Submit" class="layui-btn">儲存</button>
          <a href="/work_option/{{SID}}" class="layui-btn">返回</a>
        </div>
      </div>
    </form>
  </div>

  <script src="/static/layui.js"></script>
  <script>
    layui.use(['form', 'jquery'], function () {
      var form = layui.form;
      var $ = layui.jquery;
      // 監聽checkbox變化
      form.on('checkbox(option-checkbox)', function (data) {
        console.log(data.elem.checked); // 輸出checkbox是否選中
      });
      // 監聽移除按鈕點擊事件
      $('#options-container').on('click', '.remove-option', function () {
        var optionElement = $(this).parents('.option');
        optionElement.next('br').remove();
        optionElement.remove();
      });
      // 監聽新增選項按鈕點擊事件
      var newcount = 1;
      $('#add-option').on('click', function () {
        var optionHtml = `
    <div class="option" style="display: flex; align-items: center;">
      <input type="checkbox" name="option" lay-filter="option-checkbox" lay-skin="primary">
      <input type="text" name="item-value" id="new${(newcount)}"  class="layui-input" placeholder="輸入工作細項" style="width: 50%;">
      <button class="layui-btn layui-btn-sm layui-btn-danger remove-option">X</button>
    </div>
    <br>
  `;
        $('#options-container').append(optionHtml); // 新增選項
        form.render(); // 重新渲染表單元素
        newcount++
      });
      // 提交表單時移除空的工作細項輸入框
      $('#work-form').on('submit', function (event) {
        event.preventDefault();

        var data = {
          "old": [],
          "new": []
        };

        $('#options-container .option').each(function () {
          var id = $(this).find('input[type="text"]').attr('id');
          var value = $(this).find('input[type="text"]').val();
          var checked = $(this).find('input[type="checkbox"]').is(':checked') ? 1 : 0;
          if (value !== '') { // 排除空值
            if (id.startsWith("old")) {
              data.old.push({ "id": id, "value": value, "checked": checked });
            } else if (id.startsWith("new")) {
              data.new.push({ "id": id, "value": value, "checked": checked });
            }
          }
        });

        $('<input>').attr({
          type: 'hidden',
          name: 'data',
          value: JSON.stringify(data)
        }).appendTo('#work-form');

        // 判斷有值的checkbox被勾選後和全部的選項做百分比計算  
        var validCheckboxes = $('#options-container .option').filter(function () {
          return $(this).find('input[type="text"]').val() !== "";
        }).find('input[type="checkbox"]');

        var selectedCheckboxes = validCheckboxes.filter(':checked');
        var selectedCount = selectedCheckboxes.length;
        var totalCount = validCheckboxes.length;
        var percentage = ((selectedCount / totalCount) * 100).toFixed(0);
        alert('完成度:' + percentage + "%");
        // 在頁面上顯示百分比
        $('<input>').attr({
          type: 'hidden',
          name: 'percentage',
          value: percentage
        }).appendTo('#work-form');

        this.submit(); // 手動提交表單
      });
      this.submit(); // 手動提交表單
    });

  </script>


</body>



</html>