<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>修改密碼</title>
  <link rel="stylesheet" href="/static/css/layui.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}">
  <style>
    /* 設置頁腳的樣式 */
    .footer {
      background-color: #393D49;
      /* 設置背景顏色為黑色 */
      color: white;
      /* 設置文字顏色為白色 */
      padding: 20px;
      /* 設置內邊距 */
      text-align: center;
      /* 設置文字居中對齊 */
    }
  </style>
</head>

<body>
  <ul class="layui-nav" lay-filter="" style="display: flex; align-items: center; justify-content: space-between;">
    <li style="display: flex; align-items: center;">
      <div><a href="/index"> <img src="../static/LOGO.png" alt="LOGO" style="width: 7%; height: 7%;"> </a></div>
    </li>

    <li class="layui-nav-item" style="white-space: nowrap; margin-right: 30px; z-index: 1001;">
      <a href="javascript:;" style="color: rgb(255, 255, 255);">{{ session['acc_nu'] }}</a>
      <dl class="layui-nav-child" style="text-align: left;">
        <dd><a href="/chg_passwd">修改密碼</a></dd>
        <dd><a href="/account_manage">帳戶管理</a></dd>
        <dd><a href="/logout">登出</a></dd>
      </dl>
    </li>
  </ul>
  <div style="width: 500px;height: 400px;margin: 120px auto;">
    <form class="layui-form" action="/chg_passwd" method="POST">
      <div class="layui-form-item">
        <label class="layui-form-label">帳號:</label>
        <div class="layui-input-block" style="width: 250px;">
          <input type="text" name="acc_nu" lay-verify="required" autocomplete="off" class="layui-input"
            placeholder="輸入帳號">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">舊密碼:</label>
        <div class="layui-input-block" style="width: 250px;">
          <input type="password" name="old_passwd" lay-verify="required" autocomplete="off" class="layui-input"
            placeholder="輸入舊密碼">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">新密碼:</label>
        <div class="layui-input-block" style="width: 250px;">
          <input type="password" name="new_passwd" lay-verify="required" autocomplete="off" class="layui-input"
            placeholder="輸入新密碼">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">確認新密碼:</label>
        <div class="layui-input-block" style="width: 250px;">
          <input type="password" name="check_passwd" lay-verify="required" autocomplete="off" class="layui-input"
            placeholder="確認新密碼">
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <div class="dialog" id="dialog" style="color: red;">
            <div class="close" onclick="hideDialog();"></div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
              <ul>
                {% for category, message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            {% endwith %}
          </div>
          <br>
          <button type="submit" value="Submit" class="layui-btn">儲存</button>
          <a href="/index" class="layui-btn">返回</a>
        </div>
      </div>
    </form>
  </div>
  <footer class="footer">
    <p>Copyright© 2023 鼎硯工程實業有限公司</p>
  </footer>
  <script src="/static/layui.js"></script>
  <script>
    layui.use('form', function () {
      var form = layui.form
    });
  </script>
</body>

</html>