<!DOCTYPE html>
<html lang="en">
<style>
  .layui-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .layui-col-md4 {
    width: 100%;
    /* For mobile phones: */
    max-width: 300px;
  }

  @media only screen and (min-width: 600px) {
    .layui-col-md4 {
      text-align: center;
      width: 20%;
      max-width: 300px;
    }
  }

  @media only screen and (min-width: 768px) {
    .layui-col-md4 {
      width: 33.33%;
      max-width: 300px;
    }
  }

  .layui-panel {
    height: 100%;
    margin: 10px;
  }

  .layui-nav {
    background-color: #393D49;
    /* 換成你想要的背景顏色 */
  }

  /* 設置頁腳的樣式 */
  .footer {
    background-color: #393D49;
    /* 設置背景顏色為黑色 */
    color: white;
    /* 設置文字顏色為白色 */
    padding: 20px;
    /* 設置內邊距 */
    text-align: center;
    /* 設置文字居中對齊 */
  }
</style>

<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>首頁</title>
  <link rel="stylesheet" href="/static/css/layui.css">
</head>

<body>

  <ul class="layui-nav" lay-filter="" style="display: flex; align-items: center; justify-content: space-between;">
    <li style="display: flex; align-items: center;">
      <img src="../static/LOGO.png" alt="LOGO" style="width: 7%; height: 7%;" >
    </li>

    <li class="layui-nav-item" style="white-space: nowrap;">  
      <a href="javascript:;" style="color: rgb(255, 255, 255);" >{{ session['acc_nu'] }}</a>
      <dl class="layui-nav-child" style="text-align: left;">
        <dd><a href="/chg_passwd">修改密碼</a></dd>
        <dd><a href="/account_manage">帳戶管理</a></dd>
        <dd><a href="/logout">登出</a></dd>
      </dl>
    </li>
</ul>
  <br>
  <!--------------進行中專案-------------->
  <div style="margin: 20px 20px; text-align: center;">
    <h2 class="layui-bg-cyan" style="width: 77%;margin: auto; padding: 1px; color: white;">專案進度</h2>
  </div>
  <div style="width: 75%;height: 350px;margin: 20px auto;">
    <table lay-filter="project_table">
      <thead>
        <tr>
          <th lay-data="{field:'SID'}">專案ID</th>
          <th lay-data="{field:'project_name'}" >專案名稱</th>
          <th lay-data="{field:'work_mode'}">狀態</th>
          <th lay-data="{field:'start_time'}">開始時間</th>
          <th lay-data="{field:'expected_end_time'}">預計結束時間</th>
          <th lay-data="{field:'end_time'}">結束時間</th>
          <th lay-data="{field:'percent_complete'}">完成百分比</th>
          <th lay-data="{field:'estimated_working_day'}">預計工作天數</th>
          <th lay-data="{field:'actual_working_day'}">實際工作天數</th>
          <!-- <td>操作</td> -->
        </tr>
      </thead>
      {% for process_project in work %}
      <tr>
        <td>{{process_project['SID']}}</td>
        <td><a href="/work_option/{{process_project.SID}}"  style="color:red;">{{process_project['project_name']}}</a></td>
        <td>{{process_project['work_mode']}}</td>
        <td>{{process_project['start_time']}}</td>
        <td>{{process_project['expected_end_time']}}</td>
        <td>{{process_project['end_time']}}</td>
        <td>{{process_project['percent_complete'] or 0 }}%</td>
        <td>{{process_project['estimated_working_day']}}</td>
        <td>{{process_project['actual_working_day']}}</td>
      </tr>
      {% endfor %}

    </table>
  </div>
  <br>
  <br>

  <!--------------已完成專案-------------->
  <div style="margin: 20px 20px; text-align: center;">
    <h2 class="layui-bg-cyan" style="width: 77%;margin: auto; padding: 1px; color: white;">已結案</h2>
  </div>

  <div style="width: 75%;height: 350px;margin: 20px auto;">
    <table lay-filter="project_table">
      <thead>
        <tr>
          <th lay-data="{field:'SID'}">編號</th>
          <th lay-data="{field:'project_name'}">專案名稱</th>
          <th lay-data="{field:'work_mode'}">狀態</th>
          <th lay-data="{field:'start_time'}">開始時間</th>
          <th lay-data="{field:'expected_end_time'}">預計結束時間</th>
          <th lay-data="{field:'end_time'}">結束時間</th>
          <th lay-data="{field:'percent_complete'}">完成百分比</th>
          <th lay-data="{field:'estimated_working_day'}">預計工作天數</th>
          <th lay-data="{field:'actual_working_day'}">實際工作天數</th>
          <!-- <td>操作</td> -->
        </tr>
      </thead>

      {% for end_project in finish_work %}
      <tr>
        <td>{{end_project['SID']}}</td>
        <td>{{end_project['project_name']}}</td>
        <td>{{end_project['work_mode']}}</td>
        <td>{{end_project['start_time']}}</td>
        <td>{{end_project['expected_end_time']}}</td>
        <td>{{end_project['end_time']}}</td>
        <td>{{ end_project['percent_complete'] or 0 }}%</td>
        <td>{{end_project['estimated_working_day']}}</td>
        <td>{{end_project['actual_working_day']}}</td>
      </tr>
      {% endfor %}

    </table>
  </div>

  <script src="/static/layui.js"></script>
  <script>
    layui.use('form', function () {
      var table = layui.table;
      table.init('project_table', {
        height: 315
      });
    });
    function myFunction() {
      var result = confirm("確定要刪除嗎");
      if (result) {
        return true;
      } else {
        return false;
      }
    }	
  </script>

</body>

<footer class="footer">
  <p>Copyright© 2023　鼎硯工程實業有限公司</p>
</footer>

<script>
  console.info("design by sheeppy>sheeppy2313131@gmail.com");
</script>

</html>