<!DOCTYPE html>
<html lang="en">
<style>
  .layui-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .layui-col-md4 {
    width: 100%;
    /* For mobile phones: */
    max-width: 300px;
  }

  @media only screen and (min-width: 600px) {
    .layui-col-md4 {
      text-align: center;
      width: 20%;
      max-width: 300px;
    }
  }

  @media only screen and (min-width: 768px) {
    .layui-col-md4 {
      width: 33.33%;
      max-width: 300px;
    }
  }

  .layui-panel {
    height: 100%;
    margin: 10px;
  }

  .layui-nav {
    background-color: #393D49;
    /* 換成你想要的背景顏色 */
  }

  /* 設置頁腳的樣式 */
  .footer {
    background-color: #393D49;
    /* 設置背景顏色為黑色 */
    color: white;
    /* 設置文字顏色為白色 */
    padding: 20px;
    /* 設置內邊距 */
    text-align: center;
    /* 設置文字居中對齊 */
  }
</style>

<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta http-equiv="refresh" content="2"> -->
  <title>首頁</title>
  <link rel="stylesheet" href="/static/css/layui.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='3.ico') }}">
</head>

<body>

  <ul class="layui-nav" lay-filter="" style="display: flex; align-items: center; justify-content: space-between;">
    <li style="display: flex; align-items: center;">
      <img src="../static/LOGO.png" alt="LOGO" style="width: 7%; height: 7%;">
    </li>

    <li class="layui-nav-item" style="white-space: nowrap; margin-right: 30px; z-index: 1001;">
      <a href="javascript:;" style="color: rgb(255, 255, 255);">{{ session['acc_nu'] }}</a>
      <dl class="layui-nav-child" style="text-align: left; ">
        <dd><a href="/chg_passwd">修改密碼</a></dd>
        <dd><a href="/account_manage">帳戶管理</a></dd>
        <dd><a href="/logout">登出</a></dd>
      </dl>
    </li>
  </ul>
  <br>
  <!--------------進行中專案-------------->
  <div style="margin: 20px 20px; text-align: center;">
    <h2 class="layui-bg-cyan" style="width: 93%;margin: auto; padding: 1px; color: white;">專案進度</h2>
  </div>

  <div style="width: 90%;height: 350px;margin: 20px auto;">
    <table lay-filter="project_table">
      <thead>
        <tr>
          <th lay-data="{field:'SID', width: 80}">專案ID</th>
          <th lay-data="{field:'project_name'}">專案名稱</th>
          <th lay-data="{field:'work_mode'}">狀態</th>
          <th lay-data="{field:'start_time'}">開始時間</th>
          <th lay-data="{field:'expected_end_time'}">預計結束時間</th>
          <th lay-data="{field:'end_time'}">結束時間</th>
          <th lay-data="{field:'percent_complete', width: 80}">完成度</th>
          <th lay-data="{field:'estimated_working_day'}">預計工作天數</th>
          <th lay-data="{field:'actual_working_day'}">實際工作天數</th>
          <th lay-data="{field:'option', width: 160}">操作</th>
        </tr>
      </thead>
      {% for process_project in work %}
      <div id="remark_div" style="display: none;">{{process_project['remark']}}</div>
      <tr>
        <td>{{process_project['SID']}}</td>
        <td><a href="/work_option/{{process_project.SID}}" style="color:red;">{{process_project['project_name']}}</a>
        </td>
        <td>{{process_project['work_mode']}}</td>
        <td>{{process_project['start_time']}}</td>
        <td>{{process_project['expected_end_time']}}</td>
        <td>{{process_project['end_time']}}</td>
        <td>{{process_project['percent_complete'] or 0 }}%</td>
        <td>{{process_project['estimated_working_day']}}天</td>
        <td>
          {% if process_project['actual_working_day'] %}
          {{process_project['actual_working_day']}}天
          {% endif %}
        </td>
        <td>
          
          <a onclick="return myFunction3(`{{process_project['remark']}}`)" class="layui-icon layui-icon-file-b"
            style="font-size: 30px; color: #1E9FFF;" title="備註"></a>

          <a href="/chg_project/{{process_project.SID}}" class="layui-icon layui-icon-edit"
            style="font-size: 30px; color: #1E9FFF;" title="修改"></a>

          <a href="/delete_work/{{process_project.SID}}" onclick="return myFunction()"
            class="layui-icon layui-icon-delete" style="font-size: 30px; color: #ff1e1e;" title="刪除"></a>

          <a href="/finish_project/{{process_project.SID}} " onclick="return myFunction2()"
            class="layui-icon layui-icon-ok" style="font-size: 30px; color: #1E9FFF;" title="結案"></a>


        </td>
      </tr>
      {% endfor %}

    </table>
    <a href="/add_project" class="layui-btn">建立</a>
  </div>


  <br>
  <br>
  <!--------------已完成專案-------------->
  <div style="margin: 20px 20px; text-align: center;">
    <h2 class="layui-bg-cyan" style="width: 93%;margin: auto; padding: 1px; color: white;">已結案</h2>
  </div>

  <div style="width: 90%;height: 350px;margin: 20px auto;">
    <table lay-filter="project_table2">
      <thead>
        <tr>
          <th lay-data="{field:'SID', width: 80}">專案ID</th>
          <th lay-data="{field:'project_name'}">專案名稱</th>
          <th lay-data="{field:'work_mode'}">狀態</th>
          <th lay-data="{field:'start_time'}">開始時間</th>
          <th lay-data="{field:'expected_end_time'}">預計結束時間</th>
          <th lay-data="{field:'end_time'}">結束時間</th>
          <th lay-data="{field:'percent_complete', width: 80}">完成度</th>
          <th lay-data="{field:'estimated_working_day'}">預計工作天數</th>
          <th lay-data="{field:'actual_working_day'}">實際工作天數</th>
          <!-- <td>操作</td> -->
        </tr>
      </thead>
      
      {% for end_project in finish_work %}
      <tr>
        <td>{{end_project['SID']}}</td>
        <td>{{end_project['project_name']}}</td>
        <td>{{end_project['work_mode']}}</td>
        <td>{{end_project['start_time']}}</td>
        <td>{{end_project['expected_end_time']}}</td>
        <td>{{end_project['end_time']}}</td>
        <td>{{end_project['percent_complete'] or 0 }}%</td>
        <td>{{end_project['estimated_working_day']}}天</td>
        <td>
          {% if end_project['actual_working_day'] is not none and end_project['actual_working_day'] != '' %}
          {{end_project['actual_working_day']}}天
          {% endif %}
        </td>
      </tr>
      {% endfor %}

    </table>
  </div>

  <script src="/static/layui.js"></script>


  <script>
    setTimeout(() => {
      document.location.reload();
    }, 60000);

    layui.use('form', function () {
      var table = layui.table;
      table.init('project_table', {
        height: 325,
        toolbar: true,
        title: '進行中專案',
        page: true,
        limit: 5

      });
    });

    layui.use('form', function () {
      var table = layui.table;
      table.init('project_table2', {
        height: 325,
        toolbar: true,
        title: '已結案專案',
        page: true,
        limit: 5

      });
    });
    function myFunction() {
      var result = confirm("確定要刪除嗎?");
      if (result) {
        return true;
      } else {
        return false;
      }
    }

    function myFunction2() {
      var result = confirm("確定結案嗎?");
      if (result) {
        return true;
      } else {
        return false;
      }
    }

    function myFunction3(x) {
      layui.use('layer', function () {
        var layer = layui.layer;
        
        layer.open({
          type: 0,
          content: x
          ,closeBtn:0
        });

      });

    }



  </script>

</body>



<div id="HomeFooter" class="footer" style="padding-top: 0px;">

  <div id="FootDeclar" class="layui-row layui-col-space10">
    <div id="FootDeclar_2" style="display: flex; align-items: center; justify-content: center;">
      <img src="../static/LOGO.png" width="50px" style="margin-right: 15px;">
      <p class="footer-p">Copyright© 2023　鼎硯工程實業有限公司</p>
    </div>

  </div>
</div>

</html>