<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>員工登入</title>
      <link rel="stylesheet" href="/static/css/layui.css">
      <link rel="shortcut icon" href="{{ url_for('static', filename='3.ico') }}">
    </head>
<body> 
<div style="width: 500px;height: 400px;margin: 300px auto;">
  <form class="layui-form" action="/" method="POST" >
    <div class="layui-form-item">
      <label class="layui-form-label" for="acc_nu">帳號</label>
      <div class="layui-input-block">
        <input type="text" name="acc_nu" id="acc_nu" lay-verify="title" autocomplete="off" placeholder="輸入帳號" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label" for="passwd">密碼</label>
      <div class="layui-input-block">
        <input type="password" name="passwd" id="passwd" placeholder="輸入密碼" autocomplete="off" class="layui-input">
      </div>
    </div>      
    <div class="layui-form-item">
      <div class="layui-input-block">
        <div class="dialog" id="dialog" style="color: red;">
          <div class="close" onclick="hideDialog();"></div>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <div class="alert alert-danger" role="alert">
                  <ul>
                    {% for category, message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            {% endwith %}
        </div>
        <br>
        <button type="submit" value="Submit" class="layui-btn">登入</button>
      </div>
    </div>
  </form>
</div>      
<script src="/static/layui.js"></script>
<script>
layui.use('form', function(){
  var form = layui.form
});
</script>
</body>    
</html>