<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>首頁</title>
    <link rel="stylesheet" href="/static/css/layui.css">
    </head>

<body>

    <ul class="layui-nav" lay-filter="" style="display: flex; align-items: center; justify-content: space-between;">
        <li style="display: flex; align-items: center;">
          <img src="../static/LOGO.png" alt="LOGO" style="width: 7%; height: 7%;" >
          <a href="/add_project" class="layui-btn">建立</a>
        </li>
    
        <li class="layui-nav-item" style="white-space: nowrap;">  
          <a href="javascript:;" style="color: rgb(255, 255, 255);" >{{ session['user_name'] }}</a>
          <dl class="layui-nav-child" style="text-align: left;">
            <dd><a href="/chg_passwd">修改密碼</a></dd>
            <dd><a href="/account_manage">帳戶管理</a></dd>
            <dd><a href="/logout">登出</a></dd>
          </dl>
        </li>
    </ul>
    <br>
</body> 


</html>